// Buttons
.addspacebtn {
  @apply justify-center items-center flex-shrink flex-grow-0 mr-3;
}
.addagencybtn {
  @apply border-0 flex-shrink flex-grow-0 mr-3;
  .addagencylabel {
    @apply overflow-hidden text-secondary flex-shrink flex-grow-0;
  }
}

// Icons
.icons {
  @apply justify-center items-center flex-shrink flex-grow-0 mr-3 cursor-pointer;
}

.crossicon {
  @apply justify-center items-center flex-shrink flex-grow-0 mr-3 cursor-pointer bg-transparent hover:bg-transparent;
}
.menucontainer {
  @apply flex h-12 justify-between items-center border-0 bg-white hover:bg-white  flex-shrink flex-grow-0;
  padding: 0.375rem;
  .menuicons {
    @apply justify-center items-center flex-shrink flex-grow-0 hover:bg-transparent;
  }
}
.menuwrapper {
  @apply flex relative w-auto h-auto border-0 p-0 ml-3 bg-transparent justify-center items-center flex-shrink flex-grow-0;
  .smallmenu {
    box-shadow: rgb(0 0 0 / 15%) 0px 16px 32px, rgb(0 0 0 / 10%) 0px 3px 8px !important;
    top: 5vh;
    @apply absolute right-0 z-40;
  }
}

// Containers
.headercontainer {
  @apply justify-between bg-nav-bg;
}

.headercontainerSearchPage {
  @apply flex flex-col fixed z-30 justify-between bg-white border-b border-lightblue;
}

.leftcontainer {
  padding-left: 8.4375rem;
  @apply flex items-center  h-full w-auto flex-row;
  .ninedots {
    @apply flex h-6 w-6 justify-center items-center mr-1 transition-all duration-700 ease-in-out;
  }
}

.leftcontainerSearchPage {
  padding-left: 2.4375rem;
  @apply flex items-center  h-full w-auto flex-row;
  .ninedots {
    @apply flex h-6 w-6 justify-center items-center mr-1 transition-all duration-700 ease-in-out;
  }
}

.rightcontainer {
  padding-right: 8.4375rem;
  @apply flex justify-center items-center  h-full w-auto;
}

.rightcontainerSearchPage {
  padding-right: 2.4375rem;
  @apply flex justify-center items-center  h-full w-auto;
}

.mobilemenuheader {
  height: 6vh;
  @apply bg-white flex items-center justify-between pl-4;
}

// Media query

@media screen and (max-width: 1220px) {
  .rightcontainer {
    @apply pr-4;
  }
  .leftcontainer {
    @apply pl-4;
  }
}
@media screen and (max-width: 1065px) {
  .addspacebtn {
    @apply hidden;
  }
  .addagencybtn {
    @apply hidden;
  }
  .icons {
    @apply hidden;
  }
  .headercontainer {
    height: 8vh;
  }
  .menuwrapper {
    .smallmenu {
      -webkit-tap-highlight-color: transparent;
      top: 3vh;
    }
  }
  .menucontainer {
    -webkit-tap-highlight-color: transparent;
    @apply h-8;
  }
  .menuicons {
    -webkit-tap-highlight-color: transparent;
    @apply h-6 w-6;
  }
  .homelogo {
    @apply h-4;
  }
}

.hid {
  @apply hidden;
}
