.loginButton {
  width: 6.3rem;
  height: 2.5rem;
  @apply flex font-inter items-center place-content-center rounded-full  items-center  bg-primary-pink flex-col;
}
.errorMessage{
  @apply text-red-700 pl-4 pt-1
}
.customstyleButton {
  width: 6.3rem !important;
  height: 2.5rem;
  border-radius: 2rem !important ;
  font-size: 1rem !important;
}
.loginText {
  font-size: 1rem;
  @apply text-white font-medium font-pops;
}
.buttonContainer {
  @apply flex place-content-center flex-col mt-0 mb-14 items-center;
}
.resetHeading {
  @apply flex justify-start text-3xl font-semibold text-pink-600 mt-4;
}
.passwordContainer {
  @apply flex justify-start text-extra-placeholder  font-inter text-sm;
}
.inputContainer {
  @apply mt-12 mb-8 mr-6;
}
.customHeading {
  @apply pb-2  text-grey;
}
.customInputBox {
  @apply mb-4 mt-1;
  font-weight: 350 !important  ;
  border-radius: 0rem !important    ;
  @media only screen and(min-width: 768px) {
    @apply mb-0 mt-0;
    padding-left: 0.2rem !important;
  }
}
.divContainer {
  @apply ml-8 mr-0;
}
.ImgDiv {
  @apply mt-4;
}
@media screen and (min-width: 600px) {
  .customstyleButton {
    width: 11rem !important;
  }
  .customHeading {
    @apply pb-1;
  }
  .resetHeading {
    @apply text-3xl font-semibold text-xl not-italic font-medium leading-6 tracking-normal text-left flex justify-center text-black;
  }
  .customInputBox {
    width: 330px !important;
  }
  .passwordContainer {
    @apply flex justify-center py-1;
  }
  .ImgDiv {
    @apply flex justify-center;
  }
  .mainDiv {
    @apply flex justify-center;
  }
  .loginButton {
    @apply mt-4;
    width: 11rem;
  }
  .inputContainer {
    @apply mr-0 mt-4;
  }
  .downloadapp {
    @apply hidden;
  }
  .divContainer {
    @apply rounded-lg mt-20 ml-24 mr-24 pr-24 pl-24;
    border-radius: 2rem;
    border: 2px solid #ffffff;
    box-shadow: 4px 8px 19px rgba(0, 0, 0, 0.25);
  }
}
