.main {
  @apply flex rounded-xl w-40 h-auto bg-white mt-2 flex-col p-2  overflow-hidden divide-y;
  .ul {
    height: fit-content;
    @apply flex flex-col w-full overflow-y-scroll  py-1;

    &::-webkit-scrollbar {
      @apply hidden;
    }

    .li {
      min-height: 2.25rem;
      @apply flex w-full  pl-2 hover:bg-primary-lightpink cursor-pointer items-center rounded-xl font-pops text-sm font-medium text-secondary flex-shrink-0 hover:text-primary;
    }
  }
}

.categorydropdown {
  top: 4.5rem;
  @apply flex absolute z-30 overflow-y-scroll w-60  bg-gray-50 rounded-md;
  &::-webkit-scrollbar {
    @apply hidden;
  }
}

.categoryul {
  height: fit-content;
  @apply flex flex-col w-full  py-1;
}

.categoryli {
  text-overflow: ellipsis;
  @apply flex w-full flex-nowrap h-8 items-center px-2 overflow-hidden font-pops font-medium text-sm text-secondary hover:text-primary hover:bg-primary-lightpink;
}
