.shortmenumainwrapper {
  display: flex;
  height: 13.0625rem;
  width: 11.5625rem;
  background-color: white;
  align-self: center;
  border-radius: 1rem;
  margin-bottom: 50px;
  position: absolute;
}
