@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Import files
@import './mixins';
@import './variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
  background-color: white;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  background-color: white;
}

.swiper-container {
  overflow: visible;
  overflow-x: clip;
}

.scrollone_scrollcontainer__il-F3 {
  .swiper-container {
    // overflow-x: clip;
  }
  .swiper-slide {
    width: 8.75rem;
    height: 100%;
    // background-color: blue;
  }
  .swiper-button-prev,
  .swiper-button-next {
    @apply hidden;
  }
}
.scrollthree_midcontainer__23CnK {
  .swiper-slide {
    width: 16.875rem;
    height: 100%;
    // background-color: blue;
  }
  .swiper-button-prev,
  .swiper-button-next {
    @apply hidden;
  }
}
.scrollfour_scrollwrapper__aTNwr {
  .swiper-slide {
    width: 16.875rem;
    height: 100%;
    // background-color: blue;
  }
  .swiper-button-prev,
  .swiper-button-next {
    @apply hidden;
  }
}
.privatescrollcomponent_privatemainwraper__1s3MB {
  .swiper-slide {
    width: 14.6875rem;
    height: 100%;
    // background-color: blue;
  }
  .swiper-button-prev,
  .swiper-button-next {
    @apply hidden;
  }
}
.scrollfive_scrollfivetopcontainer__fPHy7 {
  .swiper-slide {
    width: 100%;
    height: 100%;
    // background-color: blue;
  }
  .swiper-button-prev,
  .swiper-button-next {
    @apply hidden;
  }
}
.DateInput_input {
  font-size: 0.875rem;
}
.customSwiper .swiper {
  width: 100%;
  height: 100%;
}
.customSwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.customSwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  @apply object-contain md:object-cover;
}
.customSwiper{
  @apply h-72 md:h-auto rounded;
}
.customSwiper > .swiper-button-prev{
  @apply bg-white text-black rounded -mt-7 md:-mt-12 px-6 py-8 md:py-12 md:px-8  transform scale-75 absolute left-0 hover:opacity-75;
}
.customSwiper > .swiper-button-next{
  @apply bg-white text-black rounded -mt-7 md:-mt-12 px-6 py-8 md:py-12 md:px-8  transform scale-75 absolute right-0 hover:opacity-75;
}
.marketingShotsSwiperCarousel{
  @apply flex flex-col-reverse;
}
.marketingShotsSwiperCarousel .swiper-pagination{
  @apply mt-4 relative;
}
.marketingShotsSwiperCarousel .swiper-pagination-bullet-active{
  @apply bg-primary-pink;
}

